<!DOCTYPE html>
<html ng-app="contactsApp">
	<head>
		<title>Hello World</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="css/app.css">
        <script src="lib/angular.js"></script>
        
        
        <script src="modules/contact-module.js"></script>
        <script src="controllers/contact-controller.js"></script>
        <script src="controllers/footer-controller.js"></script>
        <script src="controllers/header-controller.js"></script>
        <script src="services/appdata-service.js"></script>
        <script src="filters/contact-filters.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </head>
    
    
<body>

    <div ng-controller="headerController as header">
        <div ng-include="header.view"></div>
    </div>
    
    <div ng-controller="contactController as contact" class="container-fluid body-content">
        
        <div class="input-group">
          <span class="input-group-addon" id="searchContact">Search</span>
          <input type="text" class="form-control" placeholder="search contact by first name" 
                 aria-describedby="searchContact" ng-model="searchText.name.first"><!--Searching over first name only-->
          <input type="button" value="Reload" class="btn btn-primary" ng-click="contact.reloadContacts($event)"
                 style="cursor:hand"/>    
        </div>
        
        <ul class="list-group">
            <div class="row">
                <div class="col-md-8">
                    <li ng-click="contact.handleContactClick(eachContact)" ng-class="{active : hover}"
                        class="list-group-item list-group-item-action list-group-item-success"  
                        ng-repeat="eachContact in contact.contacts | filter:searchText">
                        <h6 >{{eachContact.name.title | prependtitle}}{{eachContact.name.first | uppercase }} {{eachContact.name.last }}</h6>
                    </li>
                </div>
                <div class="col-md-4">
                    <input type="button" value="Edit" class="btn btn-primary" ng-click="contact.editContact($event, $index)" 
                           ng-hide="contact.editMode"/>
                    <input type="button" value="Save" class="btn btn-primary" ng-click="contact.saveContact($event, $index)" 
                           ng-show="contact.editMode"/>
                    <input type="button" value="Add" class="btn btn-primary" ng-click="contact.createContact($event, $index)"
                           ng-hide="contact.editMode"/>
                    
                    <!-- Contact Details for View purpose -->
                    <div class="card" style="width: 15rem;" ng-hide="contact.editMode">
                          <img class="card-img-top" ng-src="{{contact.selectedContact.picture.large}}" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">
                                    {{contact.selectedContact.name.title}}.
                                    {{contact.selectedContact.name.first}} 
                                    {{contact.selectedContact.name.last}}</h4>
                            <p class="card-text">
                                {{contact.selectedContact.gender}}, from 
                                {{contact.selectedContact.nat}}
                            </p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{contact.selectedContact.email}}</li>
                            <li class="list-group-item">{{contact.selectedContact.cell}}</li>
                            <li class="list-group-item">{{contact.selectedContact.dob}}</li>
                          </ul>
                    </div>
                    
                    <!-- Contact Details for Edit purpose -->
                    <div class="card" style="width: 15rem;" ng-show="contact.editMode">
                          <img class="card-img-top"  
                               ng-src="{{contact.selectedContact.picture.large}}"
                               alt="Card image cap">
                          <div class="card-body">
                                <input type="text" value="{{contact.selectedContact.name.title}}. {{contact.selectedContact.name.first}} {{contact.selectedContact.name.last}}"/>
                                <input class="card-text" value="{{contact.selectedContact.gender}}, from {{contact.selectedContact.nat}}" />
                          </div>
                          
                          <div class="input-group">
                              <span class="input-group-addon">email</span>
                              <input type="text" class="form-control" placeholder="email" aria-label="email" 
                                     ng-model="contact.selectedContact.email">
                          </div>
                          <div class="input-group">
                              <span class="input-group-addon">DOB</span>
                              <input type="text" class="form-control" placeholder="DOB" aria-label="Date Of Birth" 
                                     ng-model="contact.selectedContact.dob">
                          </div>
                          <div class="input-group">
                              <span class="input-group-addon">Cell</span>
                              <input type="text" class="form-control" placeholder="Cell" aria-label="Cell" 
                                     ng-model="contact.selectedContact.cell">
                          </div>
                          <div class="input-group">
                              <span class="input-group-addon">Password</span>
                              <input type="text" class="form-control" placeholder="Password" aria-label="Password" 
                                     ng-model="contact.selectedContact.login.password">
                          </div>
                    </div>
                    
                </div>
            </div>    
        </ul>
    </div>
    
<!--    <div ng-include="'views/footer.html'"></div>-->
    <ng-include src="'views/footer.html'"></ng-include>
  
</body>
</html>    