<!DOCTYPE html>
<html ng-app="myApp"> <!--makes angular active in this section of document-->
	<head>
		<title>Hello World</title>
		<script type="text/javascript"
				src="../angular.js">
        </script>

        <script>
            angular.module("myApp" , [])
                .controller("myController", function($scope, $rootScope){
                    $scope.a = 1;
                    $scope.b = 2;
                    $scope.c = 3;
                
                
                
                /*
                    When we dont specify the watch variables, for each iteration of digest cycle, below log is printed on console.
                */
                $rootScope.$watch(function(newValue, oldValue){
                   console.log("---Digest cycle started");
                });
                
                
                $scope.$watch("a", function(newValue, oldValue){
                   console.log("a value is upated to "+ newValue); 
                    //$scope.b = newValue -1; .....................Uncommen it to see digest error hrown by angular
                });
                
                $scope.$watch("b", function(newValue, oldValue){
                   console.log("b value is upated to "+ newValue); 
                   $scope.a = newValue * 2;
                });
                
            });
        </script>
    </head>
    <body ng-controller="myController">
    
        a = <input ng-model="a"/> {{a}}<br>
        b = <input ng-model="b"/> {{b}}<br>
        c = <input ng-model="c"/> {{c}}<br>
        
    </body>
</html>