<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-2.5.xsd ">

	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
	
	<bean name="xmlLoggingAspect" 
		class="sweat.like.a.pro.xmlconfiguration.XMLLoggingAspect"></bean>
	
	
	<bean name="circle" class="sweat.like.a.pro.model.Circle">
		<property name="name" value="my Circle"></property>
	</bean>
	
	<bean name="triangle" class="sweat.like.a.pro.model.Triangle">
		<property name="name" value="my Triangle"></property>
	</bean>
	
	<bean name="shapeService" class="sweat.like.a.pro.service.ShapeService" autowire="byName">
	</bean>
	
	<aop:config>
		<aop:aspect  id="xmlLoggingAspect" ref="xmlLoggingAspect">
			<aop:before method="findAreaLogger" pointcut-ref="mypointcut" />
			<aop:pointcut expression="execution(public void findArea())" id="mypointcut"/>
			
			<aop:after method="getHeightLogger" pointcut-ref="getHeightLoggerPointcut"/>
			<aop:pointcut expression="execution(public String getHeight())" id="getHeightLoggerPointcut"/>
		</aop:aspect>
	</aop:config>
	
	
	<!--
		Below is also valid configuration. 
		Note : We have pulled our pointcuts out of aop:aspect tag so that they can be referred in 
		any number of joinpoints
	<aop:config>
		<aop:pointcut expression="execution(public void findArea())" id="mypointcut"/>
		<aop:pointcut expression="execution(public String getHeight())" id="getHeightLoggerPointcut"/>
		<aop:aspect  id="xmlLoggingAspect" ref="xmlLoggingAspect">
			<aop:before method="findAreaLogger" pointcut-ref="mypointcut" />
			<aop:after method="getHeightLogger" pointcut-ref="getHeightLoggerPointcut"/>
		</aop:aspect>
	</aop:config> -->
	
	
	
	
	
	
	
		
</beans>
