<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<!-- Blueprint of my bean class. Spring is going to parse this xml and create beans out of this
		xml baked fresh for you -->
	<bean id="triangle" class="like.a.pro.setterinjection.Triangle">
		<property name="type" value="equilateral">
		</property>
	</bean>
</beans>