<!DOCTYPE html>
<html ng-app="mymodule"> <!--makes angular active in this section of document-->
	<head>
		<title>Hello World</title>
		<script type="text/javascript"
				src="../angular.js">
		</script>

		<script type="text/javascript">

			function Person(fname,lname,salary,dob,email)
			{
				this.fname = fname;
				this.lname = lname;
				this.salary = salary;
				this.dob = dob;
				this.email = email
			}

			var mymodule = angular.module("mymodule",[]);

			mymodule.controller("myController", function($scope){

				$scope.persons = [new Person("A","Barkade",12010),new Person("B","Bhagavat",1201230),
								  new Person("C","Dukane",1201230)];
				
				$scope.addPerson = function(fname, lname,salary,dob,email)
				{
					$scope.persons.push(new Person(fname,lname,salary,dob,email));
				}
			});
		</script>
	</head>

	<body ng-controller="myController">

		<p>
			First Name 
			<input type="text" ng-model="fname"/>
			Last Name
			<input type="text" ng-model="lname"/>
			Salary
			<input type="number" ng-model="salary"/>
			
			<input type="button" ng-click="addPerson(fname,lname,salary,dob,email)" value="Add"/>
		</p>

		Search table here : <input type="text" ng-model="searchText.lname"/>
		
		<table >
			<thead>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Salary</td>
				
			</thead>
			<tr ng-repeat="person in persons | filter : searchText">
				<td>{{person.fname | uppercase }}</td>
				<td>{{person.lname | lowercase }}</td>
				<td>{{person.salary | number :2 }}</td>
			</tr>
		</table>
	</body>
</html>	
